%%-*- mode: erlang -*-
{erl_opts, [{i,"deps/cowboy/include/"},
            {src_dirs, ["src"]}]}.

{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.0"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{resource_discovery, ".*", {git, "https://github.com/erlware/resource_discovery.git", "master"}}
]}.
